# 正方系统登录信息
FANGFANG_URL=http://ijw.hzcu.edu.cn/xtgl/index_initMenu.html
STUDENT_ID=你的学号
STUDENT_PASSWORD=你的密码

# QQ邮箱配置
EMAIL_SENDER=2801030489@qq.com
EMAIL_PASSWORD=aicbhyhipopydfgg
EMAIL_RECEIVER=2801030489@qq.com

# 抢课配置
MONITOR_INTERVAL=30
